.list {
    list-style: none;
    padding: 0;
}

.item {
    border: 1px solid lavender;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.item:hover {
    background-color: var(--theme-accent-1);
}

.selected {
    background-color: var(--theme-accent-3);
}
